.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-app-bg, var(--color-neutral-00));
}

.main {
  flex: 1;
  overflow: hidden;
  position: relative;
}

/* PC Layout */
@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }
}

